<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body ">
    <div style="width: 100%;background-color: rgba(247, 197, 236, 0.568);height: 140px;display: flex;justify-content: center;text-align: center;flex: 0 0 auto;">
        <img style="width: 500px;height: 90px;display: block;margin-left: auto;margin-top: 25px;margin-right: auto;" src="cid:reset_email_Sakura.png" alt="">
    </div>
    <div style="text-align: center;margin-right:20px">
        <p style="text-align: right;margin-bottom: 3rem;margin-right: 10%;margin-left: 10%;color:black"><br />
            سلام {{username}}<br /><br />
            <span style="color:black">لطفا برای تایید ایمیل خود در </span><b><span style="color:rgb(124, 17, 211)"> سایت ساکورا شاپ </span></b><span style="color:black">روی لینک زیر بزنید</span><br /><br />
        </p>
        <a style="list-style: none;text-decoration: none;background-color: rgb(43, 255, 0);color: white;padding: 20px;border-radius: 10px;" href="{{absurl}}">تایید ایمیل</a>
        <p style="text-align: right;margin-top: 3rem;color:black">
            با تشکر - تیم ساکورا شاپ
        </p>
    </div>
</body>

</html>